/*
$gutter: 20px;

div {
    $width: 200px;
    width: $width - 2 * $gutter;
    background: #333 + #777;
}

div{
    $width: 300px;
    width: $width;
    @if $width > 400px{
        height: $width * 1.5;
    } @else{
        height: $width;
    }
}
*/
/*
%clearfix::after{
    content: '';
    display: table;
    clear: both;
}

div {
    @extend %clearfix;
}

section{
    @extend %clearfix;
}

 -- CUIDADO c/ o extend!
.error {
    color: red;
    font-weight: bold;
}

a.error{
    display: block;
}

.button-error{
    @extend .error;
    padding: 20px;
    width: 200px;
} */
/*
$tema: oceano;
$primary-color: black;
$secondary-color: gray;

@if $tema == oceano{
    $primary-color: blue;
    $secondary-color: orange;
} @else if $tema == deserto{
    $primary-color: yellow;
    $secondary-color: purple;
}

p{
    color: $primary-color;
    background: $secondary-color;
}

@mixin type-01($size){
    font-family: monospace;
    @if $size == normal{
        font-size: 1em;
    }
    @else if $size == large{
        font-size: 1.25em;
    }
    @else if $size == x-large{
        font-size: 1.5em;
    }
}

p{
    @include type-01(normal);
}

@mixin d($service){
    @if $service == m{
        @media(max-width: 300px){
            @content;
        }
    }
    @if $service == t{
        @media(max-width: 600px){
            @content;
        }
    }
    @if $service == s{
        @media(max-width: 900px){
            @content;
        }
    }
}

div{
    width: 100%;
    @include d(t){
        width: 80%;
    }
    @include d(m){
        width: 60%;
    }
}
*/
/*
@function em($pixels, $contexto: 16){
    @return ($pixels / $contexto) * 1em;
}

@function grid($colunas, $total: 12){
    @return round(($colunas / $total) * 100%);
}

div{
    width: grid(4);
}
*/
@mixin title{
    font-weight: bold;
    font-family: monospace;
}

@mixin text-large{
    font-size:  4em;
    line-height: 1;
}

@mixin title-large {
    @include title;
    @include text-large;
}

@mixin border-box{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@mixin separador($color: blue, $largura: 100px) {
    &::after{
        content: '';
        display: block;
        width: $largura;
        height: 4px;
        background: $color;
    }
}

@mixin box-shadow($shadow...){
    box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
}

@mixin mobile{
    @media (max-width: 600px){
        @content;
    }
}

$cor-primaria: blue;
$font-primaria: monospace;
$gutter: 30px;

//$cor-primaria: pink;

.modal{
    
    @include box-shadow(10px 10px 0 0 rgba(0, 0, 0, .5), 
                        15px 15px 0 0 rgba(0, 0, 0, .5),
                        20px 20px 0 0 rgba(0, 0, 0, .5));
    
    section {
        max-width: 600px;
        margin: 0 auto;
        @include border-box;
    }

    h1 {
        color: $cor-primaria;
        font-family: $font-primaria;
        margin-bottom: $gutter;
        @include title-large;
        @include separador(purple);
        @include mobile{
            color: pink;
            font-size: 2em;
        }
    }

    p {
        font {
            size: 1.2em;
            family: $font-primaria;
        }
        line-height: 1.4;
        max-width: 400px;
        @include mobile{
            font-size: .8em;
        }
    }

    a {
        display: block;
        max-width: 120px;
        padding: 10px;
        border-radius: 4px;
        text-align: center;
        background: $cor-primaria;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $font-primaria;
    }
}

ul {
    text-align: center;
    li {
        display: inline-block;
        list-style: none;
        font-size: em(36);
        a{
            display: block;
            padding: 20px;
            text-decoration: none;
            background: blue;
            color: white;
            //font-size: em(16, 36);
            .active & {
                //background: transparentize(blue, .5);
                background: lighten(blue, 20%);
                //background: darken(blue, 20%);
            }
            &:hover{
                background: pink;    
            }
        }
    }
}


















