.item-1 {
  width: 100px;
}

.item-2 {
  width: 200px;
}

.item-3 {
  width: 300px;
}

.item-4 {
  width: 400px;
}

.item-5 {
  width: 500px;
}

.item-6 {
  width: 600px;
}

.item-7 {
  width: 700px;
}

.item-8 {
  width: 800px;
}

.grid-1 {
  width: 40px;
}

.grid-2 {
  width: 100px;
}

.grid-3 {
  width: 160px;
}

.grid-4 {
  width: 220px;
}

.grid-5 {
  width: 280px;
}

.grid-6 {
  width: 340px;
}

.grid-7 {
  width: 400px;
}

.grid-8 {
  width: 460px;
}

.grid-9 {
  width: 520px;
}

.grid-10 {
  width: 580px;
}

.grid-11 {
  width: 640px;
}

.grid-12 {
  width: 700px;
}

.grid-13 {
  width: 760px;
}

.grid-14 {
  width: 820px;
}

.grid-15 {
  width: 880px;
}

.grid-16 {
  width: 940px;
}

.porcento-1 {
  width: 6.25%;
}

.porcento-2 {
  width: 6.25%;
}

.porcento-3 {
  width: 6.25%;
}

.porcento-4 {
  width: 6.25%;
}

.porcento-5 {
  width: 6.25%;
}

.porcento-6 {
  width: 6.25%;
}

.porcento-7 {
  width: 6.25%;
}

.porcento-8 {
  width: 6.25%;
}

.porcento-9 {
  width: 6.25%;
}

.porcento-10 {
  width: 6.25%;
}

.porcento-11 {
  width: 6.25%;
}

.porcento-12 {
  width: 6.25%;
}

.porcento-13 {
  width: 6.25%;
}

.porcento-14 {
  width: 6.25%;
}

.porcento-15 {
  width: 6.25%;
}

.porcento-16 {
  width: 6.25%;
}

.type-1 {
  font-size: 16px;
}

.type-2 {
  font-size: 32px;
}

.rede-facebook {
  background-image: url("img/facebook.png");
}

.rede-twitter {
  background-image: url("img/twitter.png");
}

.rede-pinterest {
  background-image: url("img/pinterest.png");
}

.rede-instagram {
  background-image: url("img/instagram.png");
}
